@import  url("base.css");
@import  url("variables.css");
@import  url("header.css"); 
@import  url("harley.css");
@import  url("footer.css");



#logo {
    padding: 3px 20px 3px 10px;
    position: relative;
}

nav {
    height: 40px;
    position: relative;
    background-color: black;
}

ul {
    align-items: right;
    position: absolute;
    right: 20px;
}

ul a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.fa-heart {
    top: 10px;
    left: 20px;
    color: var(--heart-color);
    position: absolute;
    font-size: x-large;
    transform: scale(1, .84);
}

.boton-vm {
    width: var(--boton-width);
    left: var(--boton-left);
    bottom: 15px;
    padding: 12px;
    position: absolute;
    border-radius: 5px;
    color: white;
    background-color: var(--header-color);
}

.card h2,
.boton-vm {
    text-align: center;
}

main {
    height: var(--page-height);
    position: relative;
}

section {
    display: flex;
    position: absolute;
    width: var(--section-width);
    justify-content: space-between;
    left: var(--cards-left);
    top: calc((var(--page-height))/2 - var(--card-height)/2);
}

.card,
.card-bg,
.card-img {
    box-shadow: 0px 2px 0px var(--shadow-color);
}

.card {
    display: inline-block;
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    background-color: var(--card-color);
    margin: 20px;
    border-radius: 25px 25px 0 0;
    border: black solid 2px;
}

.card h2 {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 30px;
}

.card p {
    padding: 0 18px;
    text-align: left;
}

.card-bg {
    height: var(--bg-height);
    margin-bottom: 75px;
    border-radius: 25px 25px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 50%;
}

.card-img {
    top: var(--img-top);
    left: var(--img-left);
    width: var(--img-size);
    height: var(--img-size);
    position: absolute;
    border-radius: 50%;
    background-size: 140px;
    background-position: 58% 0;
}
#bg-batman{
    background-size: 550px;
    background-position: 30% 50%;
    background-image: url('../img/bg-batman.jpg');
}
#bg-wonderw{
    background-image: url('../img/bg-wonderw.jpg');
    background-size: 350px;
    background-position: 80% 45%;
}
#bg-superman{
    background-image: url('../img/bg-superman.jpg');
    background-size: 550px;
    background-position: 30% 25%;
}
#bg-harley{
    background-image: url('../img/bg-harley.jpg');
    background-position: center;
}
#img-batman{
    background-image: url("../img/batman.jpg");
    background-size: 400px;
    background-position: 58% 0%;
}
#img-wonderw{
    background-image: url("../img/wonderw.jpg");
    background-size: 150px;
    background-position: 58% 0%;
}
#img-superman{
    background-image: url("../img/superman.jpg");
    background-size: 200px;
    background-position: 50% 45%;
}
#img-harley{
    background-image: url('../img/harley.jpg');
    background-size: contain;
}

#material-icons {
    color: #00669F;
    top: 70%;
    right: 10%;
    position:fixed;
    font-size: 40px;
    border-radius: 50%;
    border: 10px solid #00669F;
    box-shadow: inset 0 0 0 6px #00669F;
}

#material-icons:hover{    
    background-color: var(--hover-color);
    color: white;
}

.card:hover{
    background-image: url('../img/DC_Comics_logo.svg');
    background-size: 200px;
    background-position: 50px 260px;
    background-repeat: no-repeat;
    background-color: var(--hover-color);
    color: rgb(202, 172, 0);
}