@import  url("base.css");
@import  url("variables.css");
@import  url("header.css");
@import  url("footer.css");

#main-harley{
    background-image: url('../img/bg-harley.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--page-height);
    position: relative;
}

#card-haley,
.card-img-doc {
    box-shadow: 0px 2px 0px var(--shadow-color);
}

#card-haley {
    display: inline-block;
    width: 550px;
    background-color: var(--card-color);
    margin: 10% 33%;
    border-radius: 30px 30px;
    border: black solid 3px;
}

#card-haley h2 {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 25px;
    margin-top: 25px;
}

#card-haley p {
    padding: 10px 18px;
    text-align: justify;
    font-size: 18px;
}


.card-img-doc {
    top: var(--img-top);
    left: var(--img-left);
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 6px  32% 0;
    border-radius: 50%;
    background-size: 140px;
    background-position: 58% 0;
    background-image: url('../img/harley.jpg');
    background-size: cover;
    border: solid 3px black;
}

.boton-vm-doc {
    display: inline-block;
    margin: 20px 31%;
    width: 200px;
    bottom: 15px;
    padding: 12px;
    border-radius: 5px;
    color: white;
    background-color: var(--header-color);
}

.card-haley h2,
.boton-vm-doc {
    text-align: center;
}


.boton-vm-doc:hover{
    background-color: var(--hover-color);
    color: white;
}

#card-haley:hover{
    background-image: url('../img/wallpapersden-harley.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    color: rgb(3, 133, 14);
}
