@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primario: #222222;
  --colorSecundario: #d01418;
  --colorTercero: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--primario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 35px;
}

header div {
  display: flex;
  align-items: center;
}

header div h1 {
  margin-left: 20px;
  color: var(--colorTercero);
}

header div h1 span {
  color: var(--colorSecundario);
}

.kangrebur {
  display: none;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  padding: 0px 4px;
  color: var(--colorTercero);
  text-decoration: none;
}

.carrito {
  color: var(--colorSecundario);
  font-size: 24px;
}

.hero {
  height: 512px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero div h3 {
  color: var(--colorTercero);
  font-size: 40px;
}

.hero div h3 span {
  color: var(--colorSecundario);
}

.hero div a {
  background-color: var(--colorSecundario);
  border-radius: 5px;
  color: var(--colorTercero);
  text-decoration: none;
  padding: 16px 61px;
  margin-top: 30px;
}

.productoDestacado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.productoDestacado .container__card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.productoDestacado .container__card .card{
  border: solid 1px black;
  padding: 30px 68px 129px 68px;
  position: relative;
  margin: 0 10px 0;
}
.productoDestacado .container__card .card .card-text{
  position: absolute;
  top: 73%;
  left: 10%;
}
.card-text h4{
  font-size: 20px;
  border-top: solid 1px grey;
  width: 150%;
}
.card-text h5{
  font-size: 13px;
}
.card-text h6{
  font-size: 10px;
  color: #619D00;
}
.productosEstellas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
.productosEstellas .container__banner{
  display: flex;
  margin-top: 15px;
}
.container__banner .banner{
  width: 369px;
  height: 150px;
  margin: 0 50px;
  position: relative;
  
}
.container__banner .banner a{
  position: absolute;
  top: 42%;
  right: 4%;
  font-size: 25px;
  color: var(--colorTercero);
  text-decoration: none;
}
.sillas{
  background-size: cover;
  background-image: url('../img/banner2.svg');
}
.computadoras{
  background-image: url("../img/banner.svg");
  background-size: cover;
}
footer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 80px;
}
.footer__top{  
  background-color: var(--primario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 35px;
}
.footerLeft{
  display: flex;
}
.footerLeft h4{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
  color: var(--colorTercero);
}
.footerLeft span{
  color: var(--colorSecundario);
}
.footerRight{
  display: flex;
  flex-direction: column;
  color: var(--colorTercero);
  align-items: center;

}
.footerRight ul{
  display: flex;
  align-items: center;
}
.footerRight ul li{
  padding: 10px 9px;
}
.footer__bottom{
  background-color: #C4C4C4;
  text-align: center;
  font-size: 10px; 
}
@media (max-width: 480px) {
  nav {
    display: none;
  }
  .kangrebur {
    display: block;
    color: var(--colorTercero);
    font-size: 27px;
  }
}
