@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@300&display=swap');
/*body*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
main, header, footer {
    max-width: 1000px;
    margin: 0 auto;
}
a{
    color: black;
    text-decoration: none;
}
.sinPuntos{
    list-style: none;
    padding: 0%;
}
/*header*/
header{
    background-image: url("../imagenes/lemon-pie.png");
    background-position: center 30%;
    background-size: cover;
    height: 500px;

}
h1{
   font-weight: bold;
   font-size: 60px;
   letter-spacing: 8px;
   word-spacing: 15px;
    
}
h3{
    font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
    font-style: italic;
    
}
footer{
    text-align: center;
    background-color: grey;
}